
  <div>
    <input type="text" [(ngModel)]="task" >
    <input type="text" [(ngModel)]="color" >
    <button (click)="add()" >Agregar</button>
  </div>
  <div *ngFor="let todo of todos; let i = index" >

    <div *ngIf="i != idSelected; else Form"
         [ngClass]="{ completed : todo.completed }"
         [ngStyle]="{ color : todo.color }">
      {{ todo.task }}
      <button (click)="edit(i)">Editar</button>
    </div>
    <ng-template #Form>
      <input type="text" [(ngModel)]="todo.task">
      <input type="checkbox" [(ngModel)]="todo.completed">
      <button (click)="save()">Guardar</button>
    </ng-template>

  </div>


